.container {
    margin-top :75px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :30px;
}

.job{
    width :80%;
    min-height :120px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px hsl(180, 52%, 96%);
    display : flex ; 
    justify-content: space-between;
    align-items: center;
    padding :10px;
    padding-left: 20px;
    padding-right: 30px;
    
}

.job-border-left{
    border-left: 4px solid hsl(180, 29%, 50%);
}

.details {
    margin-left : 30px; 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap :20px;
}



.profile{
    display : flex ; 
    flex-direction: column;
    gap :10px;
    margin : 0;
}

.company-features{
    display: flex;
    gap :10px
}


.company-features .new{
    width : auto;
    height : auto ;
    padding : 2px 5px;
    border-radius : 10px;
    background :hsl(180, 29%, 50%);
    color : white;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 400;
}

.company-features .featured{
    width : auto;
    height : auto ;
    padding : 2px 5px;
    border-radius : 10px;
    background :black;
    color : white;
    text-transform: uppercase;
    font-size: smaller  ;
    font-weight: 400;
}

.company-features h4{
    margin : 0;
    color :hsl(180, 29%, 50%);
    font-weight :700;
}

.job-title{
    margin :0;
    font-weight: 900;
    font-size: larger;
}

.job-details{
    display : flex ; 
    gap :15px;
}

.job-details span {
    color : hsla(180, 14%, 20%,0.7);
    font-weight : 300;
}

.skills {
    display : flex ;
    justify-content: center;
    gap : 10px;
    flex-wrap: wrap;
}

.skill-button { 
    height :30px ;
    width :auto;
    padding : 5px 10px;
    border : none;
    border-radius: 5px;
    background :hsl(180, 31%, 95%);
    outline : none ;
    color :hsl(180, 29%, 50%);
    font-weight :700;
    cursor : pointer;
}

.skill-button:hover{
    background-color: hsl(180, 29%, 50%);
    color : white;
}


@media screen and (max-width :500px) {
    .job{
        min-height :230px;
        display : flex; 
        flex-direction: column;
        justify-items: start;
        padding-left: 20px;
        gap : 10px;
        position: relative;
    }



    .details{
        margin-left :0;
        min-height : 130px;
        margin-top :30px;
        height : 150px;
    }

    .profile{
        gap:15px;
        justify-content: start;
    }

    .logo{
        position: absolute;
        top :-40px;
        left : 60px;
    }

    .skills{
       align-items: center;
       justify-content: start;
       min-height : 60px;

    }
    .container{
        gap :60px;
        margin-top: 120px;
    }
   
}


@media screen and (max-width:375px) {
    .container{
        margin-top:180px;
    }
    
}
